In [1]:
print("hello world")

hello world

In [2]:
a=3;
b=4;
c=a+b;
print(c);

7

# majak hai kya ?

In [4]:
# 3 # se in markdown section it become smaller

<h1>majak karney ke liye markdown me jana hai</h1>

<h2>h2 tag</h2>
<h3>h3 tag</h3>
<h4>h4 tag</h4>
<h5>h5 tag</h5>
<h6>h6 tag</h6>

<b>this is bold tag</b>

In [8]:
'''this is multiline comment'''

'this is multiline comment'

# input output

In [10]:
num1=input("enter the first number");
num2=input("enter the second number");
print(num1+num2);

enter the first number 12
enter the second number 13

1213

In [11]:
num1=int(input("enter the first number"));
num2=int(input("enter the second number"));
print(num1+num2);

enter the first number 12
enter the second number 13

25

In [12]:
num1=int(input("enter the first number"));
num2=int(input("enter the second number"));
num3= num1+num2;
print(type(num3), num3);

enter the first number 32
enter the second number 34

<class 'int'> 66

In [13]:
res=eval(input("enter the expression"));
print(res);

enter the expression 12+45+(4*5)

77

## operator

In [15]:
#Arithmetic
print(100 + 40)  #addition
print(100 - 40)   #subtraction
print(100 * 40)   #multiplication
print(100 / 40)  #float division
print(100 // 40)  #integer division
print(100 ** 4)   #exponentiation , a^b
print(100 % 40)  #modulus, remainder of the division

140
60
4000
2.5
2
100000000
20

In [16]:
print(True and True, True and False, False and True, False and False)    # True, False, None keywords start  with capital letters
print(True or True, True or False, False or True, False or False)
print(not True, not False)

True False False False
True True True False
False True

In [17]:
# relational operator 
print(100<20, 100!=30, 100<=400, )

False True True

## conditional statements

In [19]:
num=100
res="even number" if (num%2==0) else "odd number"
print(res);

even number

In [20]:
# spacial operator
num=100;
num+=10;
print(num)
num-=10;
print(num)
num*=10;
print(num)
num**=2;
print(num)

110
100
1000
1000000

In [21]:
# bitwise operator  : & | ^ ~
# A -> 65 ->64+1 => 0100 0001
#                or 0010 0000 -> 32
# a-> 97 => 64+32+1 => 0110 0001

c='A'
print(ord(c));
c=chr(ord(c)|32); # conversion of A to a
print(c);

# a-> 97 => 64+32+1 => 0110 0001
#                  xor 0010 0000 -> 32
#                      0100 0001 -> 65 -> A
#--------------
# a-> 97 => 64+32+1 => 0110 0001
#                  xor 1101 1111-> 255-32
#                      0100 0001 -> 65 -> A
c='a'
print(ord(c));
c=chr(ord(c) & 223); # conversion of A to a
print(c);

65
a
97
A

In [22]:
print(chr(65));
print(ord("A"));

A
65

In [23]:
num1=int(input("enter the first number"));
num2=int(input("enter the second number"));
if(num1>=num2):
    print("num1 is grater");
elif (num2>num1):
    print("num2 is greater");
else:
    print("aacha hai");

enter the first number 12
enter the second number 78

num2 is greater

## MISC CONCEPTS
variable initialize with any one of the values ranginig from -5 to 256 (inclusive) will generate same id for same values

In [25]:
num1=256;
print(num1, type(num1),id(num1));
num2=256;
print(num2, type(num2),id(num2));
num3=num1;
print(num3, type(num3),id(num3));

256 <class 'int'> 140712580827544
256 <class 'int'> 140712580827544
256 <class 'int'> 140712580827544

In [26]:
num1=257;
print(num1, type(num1),id(num1));
num2=257;
print(num2, type(num2),id(num2));
num3=num1;
print(num3, type(num3),id(num3));

257 <class 'int'> 2581447538672
257 <class 'int'> 2581447538416
257 <class 'int'> 2581447538672

In [27]:
print("hello","to","all","of","you");
print("welcom");

hello to all of you
welcom

In [28]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [29]:
print("hello","to","all","of","you",sep=",", end=" -");
print("welcom");

hello,to,all,of,you -welcom

In [30]:
print("chandu "*5);
print("chandu\n"*5);

chandu chandu chandu chandu chandu
chandu
chandu
chandu
chandu
chandu

In [31]:
var=100;
print(var, type(var),id(var));
str1="chandu"
print(str1, type(str1),id(str1));
f=123.5;
print(f, type(f),id(f));
b=True;
print(b, type(b),id(b));

100 <class 'int'> 140712580822552
chandu <class 'str'> 2581449249904
123.5 <class 'float'> 2581404164720
True <class 'bool'> 140712579693440

In [32]:
#inbuilt collection classes and implicite object 
a=[100,"chandu",True,12.5]; #list, mutiable, ordered printing 
print(a, len(a),type(a),id(a));
t=[100,"chandu",True,12.5];#tupal, inmutable -> not changeable ex: for adharnumber, irtc no, 
print(t, len(t),type(t),id(t));
d={"id":12, "name":"chandu","married":True};#dictonary, mutable "key":value, key is inmutable, value->mutable 
print(d, len(d),type(d),id(d));
s={"id",12, "name","chandu","chandu",True} #set-> for unique, unordered
print(s, len(s),type(s),id(s));
f=frozenset([100,"chandu",True,12.5]);#similar to set,but you can not change the data in it (inmutable)
print(f, len(f),type(f),id(f));

[100, 'chandu', True, 12.5] 4 <class 'list'> 2581449279680
[100, 'chandu', True, 12.5] 4 <class 'list'> 2581449088448
{'id': 12, 'name': 'chandu', 'married': True} 3 <class 'dict'> 2581449210048
{True, 'id', 'name', 12, 'chandu'} 5 <class 'set'> 2581448538624
frozenset({True, 100, 12.5, 'chandu'}) 4 <class 'frozenset'> 2581448537952

## Loop constructs

In [34]:
for i in range(11):              #range(initalize,end,step) end is mendentaroy end is excluded
    print(i,end=",")
else:
    print("\nrun when loop break");  #ensuring the loop run completely or not

0,1,2,3,4,5,6,7,8,9,10,
run when loop break

In [35]:
for i in range(0,11):             
    print(i,end=",")

0,1,2,3,4,5,6,7,8,9,10,

In [36]:
for i in range(0,11,2):             
    print(i,end=",")

0,2,4,6,8,10,

In [37]:
for i in range(0.5,11.5,2):             
    print(i,end=",")

TypeError: 'float' object cannot be interpreted as an integer

In [48]:
i=0.0
while i<1:
    print(f"{i:.2f}",end=",")
    i+=0.1

0.00,0.10,0.20,0.30,0.40,0.50,0.60,0.70,0.80,0.90,1.00,

In [50]:
import numpy as np
for i in np.arange(0.0,1.0,0.1):
    print(f"{i:.2f}",end=",")

0.00,0.10,0.20,0.30,0.40,0.50,0.60,0.70,0.80,0.90,

In [52]:
for i in range(int(0.0*10),int(1.0*10),int(0.1*10)):
    f=i/10.0
    print(f"{f:.2f}",end=",")
else:
    print("loop executed successfully..")

0.00,0.10,0.20,0.30,0.40,0.50,0.60,0.70,0.80,0.90,loop executed successfully..

In [54]:
for i in range(-10,0,1):             
    print(i,end=",")

-10,-9,-8,-7,-6,-5,-4,-3,-2,-1,

In [56]:
import keyword
print(keyword.kwlist)    #all the keyword in python

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# break , continue, and pass statement

In [59]:
for i in range(10):
    print(i,end=",")
    if(i==5):
        break
else:
    print("execute sucessfully..")   # loop 10 tak nahi chala so this line not printed
print("\n end of the program")

0,1,2,3,4,5,
 end of the program

In [61]:
for i in range(10):
    #print(i,end=",")
    if(i==5 or i==7 or i==8):
        print("Non-veg Skipped..",i)
        continue;
    print("Non-veg seat No:",i)
else:
    print("\nnexecute sucessfully..")   # loop 10 tak nahi chala so this line not printed
print("\nend of the program")

Non-veg seat No: 0
Non-veg seat No: 1
Non-veg seat No: 2
Non-veg seat No: 3
Non-veg seat No: 4
Non-veg Skipped.. 5
Non-veg seat No: 6
Non-veg Skipped.. 7
Non-veg Skipped.. 8
Non-veg seat No: 9

nexecute sucessfully..

end of the program

In [63]:
i=1
while(i<=10):
    print("customer no:",i,end=",")
    if(i==5):break;
    i=i+1
else:
    print("\nloop got executed successfully..")
print("\nout of stock")

customer no: 1,customer no: 2,customer no: 3,customer no: 4,customer no: 5,
out of stock

In [65]:
i=1
while(i<=10):
    if(i==5 or i==7 or i==8):
        print("non-veg skipped..")
        i+=1
        continue
    print("non-veg seat no=",i)
    i+=1
else:
    print("\nloop got executed successfully..")
print("door is closed")

non-veg seat no= 1
non-veg seat no= 2
non-veg seat no= 3
non-veg seat no= 4
non-veg skipped..
non-veg seat no= 6
non-veg skipped..
non-veg skipped..
non-veg seat no= 9
non-veg seat no= 10

loop got executed successfully..
door is closed

In [67]:
#example of nested loop

In [69]:
print("visit Doctor..") # 1 time
day=1
medicount=0
while(day<=5):
    print("good morning to all..") # 5 times
    for medi in range(1,4):
        print(f"Day No.={day} and medicine no,={medi}..") # 15 times
        medicount +=1
    print("good night to all") # 5 times
    print("...............") # 5 times
    day+=1
print("thanks doctor")
print(f"total number of medicine consume is {medicount}..")

visit Doctor..
good morning to all..
Day No.=1 and medicine no,=1..
Day No.=1 and medicine no,=2..
Day No.=1 and medicine no,=3..
good night to all
...............
good morning to all..
Day No.=2 and medicine no,=1..
Day No.=2 and medicine no,=2..
Day No.=2 and medicine no,=3..
good night to all
...............
good morning to all..
Day No.=3 and medicine no,=1..
Day No.=3 and medicine no,=2..
Day No.=3 and medicine no,=3..
good night to all
...............
good morning to all..
Day No.=4 and medicine no,=1..
Day No.=4 and medicine no,=2..
Day No.=4 and medicine no,=3..
good night to all
...............
good morning to all..
Day No.=5 and medicine no,=1..
Day No.=5 and medicine no,=2..
Day No.=5 and medicine no,=3..
good night to all
...............
thanks doctor
total number of medicine consume is 15..

In [71]:
# total=1+2+3+4+10+5+6+7+8+26+9+10+..+ntimes

In [73]:
n = int(input("Enter n: ")) 
fsum = 0  # Final sum of the series
tsum = 0  # Temporary sum
term = 1  # Current term to be added

for i in range(1, n + 1):  
    if i % 5 == 0:  # Check if the current term is a multiple of 5
        fsum += tsum  # Add the temporary sum to the final sum
        print(f"Temporary sum at i={i}: {tsum}")
        tsum = 0  # Reset the temporary sum
    else:
        fsum += term  # Add the current term to the final sum
        tsum += term  # Add the current term to the temporary sum
        print(f"Adding the term {term} to fsum and tsum")
    term += 1  # Increment the term

print("Sum of the series =", fsum)

Enter n:  12

Adding the term 1 to fsum and tsum
Adding the term 2 to fsum and tsum
Adding the term 3 to fsum and tsum
Adding the term 4 to fsum and tsum
Temporary sum at i=5: 10
Adding the term 6 to fsum and tsum
Adding the term 7 to fsum and tsum
Adding the term 8 to fsum and tsum
Adding the term 9 to fsum and tsum
Temporary sum at i=10: 30
Adding the term 11 to fsum and tsum
Adding the term 12 to fsum and tsum
Sum of the series = 103

#pattern printing 1

In [77]:
n = int(input("Enter n:"))
for i in range(1,n+1):
    print("."*(n-i) + "*"*(2*i-1))

Enter n: 5

....*
...***
..*****
.*******
*********

## FUNCTION

### A function is a block of code that performs a specific task whenever it is called .two types of function
### 1.built-in function:These function are defined and pre-coded in python, example:min(),max(),len(),sum(),type(),range(),dict(),list()
### 2.user-defined function:we can create functions to perform specific tasks as per our needs.

In [79]:
#function takse no input arguments and returns no output arguments
def fun1():
    print("welcome",end=" ")
    print("chandu")
fun1()
fun1()
print(type(fun1),id(fun1))

welcome chandu
welcome chandu
<class 'function'> 2581463615584

In [81]:
#function takse input arguments and returns no output arguments
def fun2(meg,times):
    print(meg*times)
fun2("TIU\n",5)
fun2(2,5)
fun2("chandu ",5)
print(type(fun2),id(fun2))

TIU
TIU
TIU
TIU
TIU

10
chandu chandu chandu chandu chandu
<class 'function'> 2581463617664

In [83]:
#function takse input arguments and also returns output arguments
def fun3(meg,times):
    return (meg*times)
res=fun3("TIU\n",5)
print(res)

res=fun3(meg= "Welcome ",times=7)
print(res)

res=fun3(times=7,meg="Welcome ")
print(res)

print(type(fun3),id(fun3),type(res),id(res))

TIU
TIU
TIU
TIU
TIU

Welcome Welcome Welcome Welcome Welcome Welcome Welcome
Welcome Welcome Welcome Welcome Welcome Welcome Welcome
<class 'function'> 2581463617984 <class 'str'> 2581463827488

In [85]:
#function takes input arguments and return multiple values in collection class object as output arguments
def fun4(n1,n2):
    total=n1+n2
    diff=n1-n2
    prod=n1*n2
    quotient=n1/n2
    remainder=n1%n2
    return total,diff,prod,quotient,remainder
tt,dd,pp,qq,rr=fun4(100,40)
print(f"Total={tt},Difference={dd},Product={pp},Quotient={qq},Remainder={rr}")
res=fun4(100,40)
print(f"Total={res[0]},Difference={res[1]},Product={res[2]},Quotient={res[3]},Remainder={res[4]}")
print(res,type(res),len(res),id(res))

Total=140,Difference=60,Product=4000,Quotient=2.5,Remainder=20
Total=140,Difference=60,Product=4000,Quotient=2.5,Remainder=20
(140, 60, 4000, 2.5, 20) <class 'tuple'> 5 2581449238352

In [87]:
#function with default arguments
def fun5(p1=111,p2=222,p3=333):      #positional parameters
    print(f"par1={p1},par2={p2} and par3={p3}...")
fun5(100,200)
fun5(100)
fun5()
fun5(p1=100,p3=300)
fun5(p3=300,p1=100)

par1=100,par2=200 and par3=333...
par1=100,par2=222 and par3=333...
par1=111,par2=222 and par3=333...
par1=100,par2=222 and par3=300...
par1=100,par2=222 and par3=300...

In [89]:
def fun6(p1=100,p2=None):
    if(p2==None):
        return p1+p1
    else:
        return p1+p2
print(fun6(100,400))
print(fun6(100))
print(fun6(p2=400,p1=100))
print(fun6(p1=100))

500
200
500
200

In [91]:
#function with variable number of input arguments
def fun7(*arg):   # *arg defines forefully that arg is a tuple object
    print(arg,len(arg),type(arg),id(arg))
fun7("Techno India","University")
fun7("Joydeep","Tester","Pune",55000,"Male",True)

('Techno India', 'University') 2 <class 'tuple'> 2581454760640
('Joydeep', 'Tester', 'Pune', 55000, 'Male', True) 6 <class 'tuple'> 2581461040864

In [93]:
#function with variable number of input arguments
def fun8(**arg):   # **arg defines forefully that arg is a dictionary object
    print(arg,len(arg),type(arg),id(arg))
fun8(collegeName="TIU",place="Kolkata")
fun8(empname="chandu",empjob="CEO",emploc="Bihar")

{'collegeName': 'TIU', 'place': 'Kolkata'} 2 <class 'dict'> 2581454761344
{'empname': 'chandu', 'empjob': 'CEO', 'emploc': 'Bihar'} 3 <class 'dict'> 2581463823552

In [95]:
def fun9(*arg,**karg):  
    print(arg,len(arg),type(arg),id(arg))
    print(karg,len(karg),type(karg),id(karg))
fun9(collegeName="TIU",place="Kolkata")
fun9(empname="chandu",empjob="CEO",emploc="Bihar")
fun9("Joydeep","Tester","Pune",55000,"Male",True)

() 0 <class 'tuple'> 140712580891680
{'collegeName': 'TIU', 'place': 'Kolkata'} 2 <class 'dict'> 2581463812480
() 0 <class 'tuple'> 140712580891680
{'empname': 'chandu', 'empjob': 'CEO', 'emploc': 'Bihar'} 3 <class 'dict'> 2581463815104
('Joydeep', 'Tester', 'Pune', 55000, 'Male', True) 6 <class 'tuple'> 2581461040864
{} 0 <class 'dict'> 2581463812480

In [97]:
i=10
def fun10():
    i=100
    print("in funtion:",i,id(i))
print("before calling funtion",i,id(i))
fun10()
print("after calling funtion",i,id(i))

before calling funtion 10 140712580819672
in funtion: 100 140712580822552
after calling funtion 10 140712580819672

In [99]:
# non-recursive factorial funtion

In [101]:
def factorial_nr(num):
    if(num==0 or num==1): return 1
    fact=num
    for i in range(2,num):
        fact=fact*i
        print(f"current value in i={i} and fact={fact}..")
    return fact
n=5
result=factorial_nr(n)
print(f"Non-recursive: Factorial of {n} is {result}..")

current value in i=2 and fact=10..
current value in i=3 and fact=30..
current value in i=4 and fact=120..
Non-recursive: Factorial of 5 is 120..

In [103]:
def factorial_r(num):
    if(num==0 or num==1): return 1
    return num*factorial_r(num-1)
n=5
result=factorial_nr(n)
print(f"Non-recursive: Factorial of {n} is {result}..")

current value in i=2 and fact=10..
current value in i=3 and fact=30..
current value in i=4 and fact=120..
Non-recursive: Factorial of 5 is 120..

 <!-- 
 5!=5*4! 
      4*3!
        3*2!
          2*1!
            1(base case)
          2
        6
    24
-->

In [106]:
def outer_fun(x):
    print(x)
    def inner_fun(y):
        print(y)
        return x+y
    return inner_fun
result=outer_fun(7)(19)
print(result)

7
19
26

## Python Lambda or Anonymous Funtion

In [109]:
mysquare=lambda num:num*num
print(type(mysquare),id(mysquare),mysquare(10))

<class 'function'> 2581463620384 100

In [111]:
myaddition=lambda num1,num2:num1+num2
print(myaddition(10,30))

40

In [113]:
def fun11(num):
    myprod=lambda n:n*num
    return myprod
var10=fun11(10)
var20=fun11(20)
print(var10(3))
print(var10)

30
<function fun11.<locals>.<lambda> at 0x000002590B38E8E0>

In [115]:
# lambda funtion with recursion

In [117]:
myfact=lambda num:1 if(num==0 or num==1) else num*myfact(num-1)
print(myfact(5))

120

## Dealing with Module: Math Module

In [120]:
# importing required modules
import math

In [122]:
print(math.sin(0),math.cos(0),math.tan(0))
print(math.sinh(0),math.cosh(0),math.tanh(0)) #hyperbolic cosine
print(math.acosh(1))
print(math.atanh(0.5))

0.0 1.0 0.0
0.0 1.0 0.0
0.0
0.5493061443340549

In [124]:
# some constants in the math module
print(math.pi)
print(math.e)  # euler's number 2.71
print(math.tau) # 6.28

3.141592653589793
2.718281828459045
6.283185307179586

In [126]:
print(math.factorial(5),math.factorial(7))
print(math.gcd(100,750),math.gcd(350,850))
print(math.pow(10,3),10**3,10.0**3,10**3.0)

120 5040
50 50
1000.0 1000 1000.0 1000.0

In [128]:
print(math.ceil(10.1),math.ceil(10.9),math.floor(10.1),math.floor(10.9))

11 11 10 10

In [130]:
help(math.pow)

Help on built-in function pow in module math:

pow(x, y, /)
    Return x**y (x to the power of y).

# dealing with string processing

string is a collection of alpha numeric and spacial characters. string is immutable as insert , delete and update operations can not be carried out on a given string

string indexing and slicing
index from left to right ->  0  1  2  3  4  5  6  7  8  9 
                   mystr ->  u  n  i  v  e  r  s  i  t  y
index from right to left  ->-10 -9 -8 -7 -6 -5 -4 -3 -2 -1

In [133]:
mystr ="university"
print(mystr[6],mystr[-4]) #indexing
print(mystr[1:6],mystr[-9:-4],mystr[1:-4],mystr[-9:6]) #slicing
print(mystr[:6],mystr[:-4])
print(mystr[0::2],mystr[1::2],mystr[::-1])

s s
niver niver niver niver
univer univer
uiest nvriy ytisrevinu

In [135]:
mystr="tEChno iNDia uNIveRSiTy"
print(mystr.upper())
print(mystr.lower())
print(mystr.casefold())
print(mystr.swapcase()) # small-> big, big->small
print(mystr.capitalize())
print(mystr.title())

TECHNO INDIA UNIVERSITY
techno india university
techno india university
TecHNO IndIA UniVErsItY
Techno india university
Techno India University

In [137]:
mystr="abcd"
print(mystr,mystr.isalpha(),mystr.isalnum(),mystr.isdigit(),mystr.isnumeric())

mystr="1234"
print(mystr,mystr.isalpha(),mystr.isalnum(),mystr.isdigit(),mystr.isnumeric())

mystr="1234abcd"
print(mystr,mystr.isalpha(),mystr.isalnum(),mystr.isdigit(),mystr.isnumeric())

mystr="abcd@1234"
print(mystr,mystr.isalpha(),mystr.isalnum(),mystr.isdigit(),mystr.isnumeric())

abcd True True False False
1234 False True True True
1234abcd False True False False
abcd@1234 False False False False

In [139]:
mystr = "charity begins at home"
print(mystr.startswith("charity"))
print(mystr.startswith("begi"),mystr.startswith("begi",8),mystr.startswith("begi",8,20))
print(mystr.endswith("home"),mystr.endswith("at",0,17),mystr.endswith("begi",15,17))

True
False True True
True True False

In [141]:
mystr = "charity begins at home"
print(mystr.find("begins"))
print(mystr.find("school"))

8
-1

In [143]:
mystr = "charity begins at home"
print(mystr.index("begins"))
print(mystr.index("school"))
print(mystr.index("home"))

8

ValueError: substring not found

In [145]:
mystr = "charity begins at home"
try:
    print(mystr.index("begins"))
    print(mystr.index("school"))
except ValueError as ve:
    print("unsuccessful searching..")
    print("Error message:", ve)
print(mystr.index("home"))

8
unsuccessful searching..
Error message: substring not found
18

In [147]:
mystr= "mississippi"
print(mystr.count("i"),mystr.count("p"))

4 2

In [149]:
mystr = "good morning"
print(mystr, id(mystr))
mystr=mystr.replace("morning","night")
print(mystr, id(mystr))

good morning 2581463341488
good night 2581449175088

In [151]:
mystr = "  good  morning   "
print(mystr,len(mystr))

res=mystr.strip()
print(res,len(res))

res=mystr.lstrip()
print(res,len(res))

res=mystr.rstrip()
print(res,len(res))

  good  morning    18
good  morning 13
good  morning    16
  good  morning 15

In [153]:
mystr = "#@@#good#@##morning@#@"
print(mystr,len(mystr))

res=mystr.strip("#@")
print(res,len(res))

res=mystr.lstrip("@#")
print(res,len(res))

res=mystr.rstrip("#@")
print(res,len(res))

#@@#good#@##morning@#@ 22
good#@##morning 15
good#@##morning@#@ 18
#@@#good#@##morning 19

In [155]:
# str -->list
mystr = "charity begins at home"
res=mystr.split()
print(res,len(res))

res=mystr.split("i")
print(res,len(res))

res=mystr.split("x")
print(res,len(res))

['charity', 'begins', 'at', 'home'] 4
['char', 'ty beg', 'ns at home'] 3
['charity begins at home'] 1

In [157]:
# list -->str
list1 = ['charity','begins','at','home']
print(list1,len(list1),type(list1),id(list1))

mystr = " ".join(list1)
print(mystr,len(mystr),type(mystr),id(mystr))

mystr = ",".join(mystr)
print(mystr,len(mystr),type(mystr),id(mystr))

mystr = "-".join(list1)
print(mystr,len(mystr),type(mystr),id(mystr))

['charity', 'begins', 'at', 'home'] 4 <class 'list'> 2581463339776
charity begins at home 22 <class 'str'> 2581463386352
c,h,a,r,i,t,y, ,b,e,g,i,n,s, ,a,t, ,h,o,m,e 43 <class 'str'> 2581463292432
charity-begins-at-home 22 <class 'str'> 2581463391728

In [159]:
mystr = "university"
for i in range(len(mystr)):
    print(mystr[i],end=",")
print()
for i in mystr:
    print(i,end=",")

u,n,i,v,e,r,s,i,t,y,
u,n,i,v,e,r,s,i,t,y,

Take a sentence with upper and lower case letters and other characters from the user and find the number of vowels
and consonants in the given string

In [161]:
mystr = input("please enter a sentence: ").lower()
vcount = ccount = 0
for ch in mystr:
    if(ch.isalpha()):
        if(ch in "aeiou"): vcount+=1
        else: ccount+=1
print(f"no of vowels is {vcount} and consonant is {ccount}")

please enter a sentence:  chandu azad

no of vowels is 4 and consonant is 6

# Minor Project

In [163]:
import time
def countdown(user_time):
    while user_time >0:
        mins,secs = divmod(user_time,60)
        timer = '{:02d}:{:02d}'.format(mins,secs)
        print(timer,end='\r')
        time.sleep(1)
        user_time-=1
    print("countdown off!!!")
if __name__ == '__main__':
    user_time=int(input("Enter a time in second"))
    countdown(user_time)

Enter a time in second 10

countdown off!!!

## dealing with list processing

In [166]:
list1=[100,200,3004,400]
print(list1, len(list1),id(list1),type(list1))
print(max(list1),min(list1))
print(sum(list1))
print(sum(list1)/len(list1))

list2=["monday","tuesday","thursday","friday","sunday"]
print(max(list2),min(list2))
print(sum(list2))

[100, 200, 3004, 400] 4 2581449373312 <class 'list'>
3004 100
3704
926.0
tuesday friday

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [168]:
list1=[100,200,3004,400,False,500.0,True]
print(max(list1),min(list1))
print(sum(list1)/len(list1))

3004 False
600.7142857142857

list indexing and slicing
index from left to right ->   0         1         2          3        4 
                   list2 ->["monday","tuesday","thursday","friday","sunday"]
index from right to left->     -5      -4         -3         -2      -1

In [170]:
list1 = ["monday","tuesday","thursday","friday","sunday"]
print(list1[2],list1[-3],list1[4],list1[-1])
print(list1[0::2],list1[1::2],list1[::-1])
print(list1[3][2:5],list1[-2][-6:-3])

thursday thursday sunday sunday
['monday', 'thursday', 'sunday'] ['tuesday', 'friday'] ['sunday', 'friday', 'thursday', 'tuesday', 'monday']
ida fri

In [172]:
# defining empty list ,empty tuple,empty dictionary,empty set and empty frozen-set
var1 = [] # empty list
print(var1,len(var1),type(var1),id(var1))

var1 = () # empty tuple
print(var1,len(var1),type(var1),id(var1))

var1 = {} # empty dictionary
print(var1,len(var1),type(var1),id(var1))

var1 = set() # empty set
print(var1,len(var1),type(var1),id(var1))

var1 =frozenset([])  # empty frozen-set
print(var1,len(var1),type(var1),id(var1))

var1 =(9,)  # singleton representation of a tuple
print(var1,len(var1),type(var1),id(var1))

[] 0 <class 'list'> 2581463958272
() 0 <class 'tuple'> 140712580891680
{} 0 <class 'dict'> 2581463501760
set() 0 <class 'set'> 2581450660704
frozenset() 0 <class 'frozenset'> 2581450666752
(9,) 1 <class 'tuple'> 2581451748400

In [174]:
# converting string to list , tuple , set and forzen set
mystr="my word mississippi"
print(mystr,len(mystr))

res=list(mystr)
print(res,len(res),type(res),id(res))

res=tuple(mystr)
print(res,len(res),type(res),id(res))

res=set(mystr)
print(res,len(res),type(res),id(res))

res=frozenset(mystr)
print(res,len(res),type(res),id(res))

my word mississippi 19
['m', 'y', ' ', 'w', 'o', 'r', 'd', ' ', 'm', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'p', 'i'] 19 <class 'list'> 2581449202816
('m', 'y', ' ', 'w', 'o', 'r', 'd', ' ', 'm', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'p', 'i') 19 <class 'tuple'> 2581450650576
{'r', 'i', 'w', 'm', 'd', ' ', 'p', 's', 'y', 'o'} 10 <class 'set'> 2581450668096
frozenset({'r', 'i', 'w', 'm', 'd', ' ', 'p', 's', 'y', 'o'}) 10 <class 'frozenset'> 2581450660704

In [176]:
# insert operation on list 

list1=["monday","thursday","tuesday","sunday"]
print(list1,len(list1),type(list1),id(list1))

list1.append("saturday")
print(list1,len(list1),type(list1),id(list1))

['monday', 'thursday', 'tuesday', 'sunday'] 4 <class 'list'> 2581449197696
['monday', 'thursday', 'tuesday', 'sunday', 'saturday'] 5 <class 'list'> 2581449197696

In [178]:
list1=["monday","thursday","tuesday","sunday"]

list1.insert(3,"saturday")
print(list1,len(list1),type(list1),id(list1))

list1.insert(100,"weekday")
print(list1,len(list1),type(list1),id(list1))
print(list1[5])

['monday', 'thursday', 'tuesday', 'saturday', 'sunday'] 5 <class 'list'> 2581463500288
['monday', 'thursday', 'tuesday', 'saturday', 'sunday', 'weekday'] 6 <class 'list'> 2581463500288
weekday

In [180]:
# delete operation on list
list1=["monday","thursday","tuesday","sunday"]
print(list1,len(list1),id(list1))

list1.clear()
print(list1,len(list1),id(list1))

['monday', 'thursday', 'tuesday', 'sunday'] 4 2581463956288
[] 0 2581463956288

In [182]:
list1=["monday","thursday","tuesday","sunday"]
print(list1,len(list1),id(list1))

del list1
print(list1,len(list1),id(list1))

['monday', 'thursday', 'tuesday', 'sunday'] 4 2581463513408

NameError: name 'list1' is not defined

In [184]:
list1=["monday","thursday","tuesday","sunday"]
print(list1,len(list1),id(list1))

list1.remove("tuesday")
print(list1,len(list1),id(list1))

['monday', 'thursday', 'tuesday', 'sunday'] 4 2581463400000
['monday', 'thursday', 'sunday'] 3 2581463400000

In [186]:
list1=["monday","thursday","tuesday","sunday"]
print(list1,len(list1),id(list1))

list1.pop()
print(list1,len(list1),id(list1))

list1.pop(2)
print(list1,len(list1),id(list1))

['monday', 'thursday', 'tuesday', 'sunday'] 4 2581449178880
['monday', 'thursday', 'tuesday'] 3 2581449178880
['monday', 'thursday'] 2 2581449178880

In [188]:
# update opearation on list
list1=["monday","thursday","tuesday","sunday"]
print(list1,len(list1),id(list1))

list1[3]="wednesday"
print(list1,len(list1),id(list1))

['monday', 'thursday', 'tuesday', 'sunday'] 4 2581463573888
['monday', 'thursday', 'tuesday', 'wednesday'] 4 2581463573888

In [190]:
list1=["monday","thursday","tuesday","sunday"]
print(list1,len(list1),id(list1))

list2=['friday','weekday']
res=list1+list2    # list cocatenation
print(res,len(res),id(res))

['monday', 'thursday', 'tuesday', 'sunday'] 4 2581449288640
['monday', 'thursday', 'tuesday', 'sunday', 'friday', 'weekday'] 6 2581449374016

In [192]:
list1=["monday","thursday","tuesday","sunday"]
print(list1,len(list1),id(list1))
list2=['friday','weekday']

list1.extend(list2)    # extending the list 
print(list1,len(list1),id(list1))

list1+=list2
print(list1,len(list1),id(list1))

['monday', 'thursday', 'tuesday', 'sunday'] 4 2581463489600
['monday', 'thursday', 'tuesday', 'sunday', 'friday', 'weekday'] 6 2581463489600
['monday', 'thursday', 'tuesday', 'sunday', 'friday', 'weekday', 'friday', 'weekday'] 8 2581463489600

In [194]:
list1=["monday","thursday","tuesday","sunday"]
print(list1,len(list1),id(list1))
list2=['friday','weekday']

res=[list1,list2] # list of lists
print(res,len(res),id(res))

['monday', 'thursday', 'tuesday', 'sunday'] 4 2581463897984
[['monday', 'thursday', 'tuesday', 'sunday'], ['friday', 'weekday']] 2 2581463387008

In [196]:
list1=[["monday","thursday","tuesday","sunday"],['firday','sunday']]
print(list1[0][1],list1[-2][-3],list1[1][1],list1[-1][-1])
print(list1[0][2][2:5],list1[-2][-2][-6:-3])

thursday thursday sunday sunday
esd ues

In [198]:
list1=[27,16,2,31,22]
list1.sort()
print(list1)
list1.sort(reverse=True) # reverse shorting 
print(list1)
res=sorted(list1) # stroring the sorted list in another variable
print(res)
res1=sorted(list1,reverse=True)
print(res1)

[2, 16, 22, 27, 31]
[31, 27, 22, 16, 2]
[2, 16, 22, 27, 31]
[31, 27, 22, 16, 2]

In [200]:
list1=["monday","thursday","tuesday","sunday",'firday','sunday']
print(list1.count('sunday'))
x=list1.pop(3) # storing the poped value
print(x)
print(list1)

2
sunday
['monday', 'thursday', 'tuesday', 'firday', 'sunday']

In [204]:
list1=["monday","thursday","tuesday","sunday",'firday','sunday']
list2=list1  # now list1, list2 point to same id 
print(list2,id(list2))
print(list1,id(list1))
list1[0]='wednesday'
print(list2,id(list2))
print(list1,id(list1))

['monday', 'thursday', 'tuesday', 'sunday', 'firday', 'sunday'] 2581463284864
['monday', 'thursday', 'tuesday', 'sunday', 'firday', 'sunday'] 2581463284864
['wednesday', 'thursday', 'tuesday', 'sunday', 'firday', 'sunday'] 2581463284864
['wednesday', 'thursday', 'tuesday', 'sunday', 'firday', 'sunday'] 2581463284864

In [220]:
list1=["monday","thursday","tuesday","sunday",'firday','sunday']
list2[:]=list1 # copy through slicing
print(list2,id(list2))
list2[1]='friday'
print(list2,id(list2))

['monday', 'thursday', 'tuesday', 'sunday', 'firday', 'sunday'] 2581463284864
['monday', 'friday', 'tuesday', 'sunday', 'firday', 'sunday'] 2581463284864

In [224]:
list1=["monday","thursday","tuesday","sunday",'firday','sunday']
list2=list1.copy() # id of list1 and list2 is diff
print(list1,id(list1))
print(list2,id(list2))
list2[1]='friday'
print(list1,id(list1))
print(list2,id(list2))

['monday', 'thursday', 'tuesday', 'sunday', 'firday', 'sunday'] 2581464306816
['monday', 'thursday', 'tuesday', 'sunday', 'firday', 'sunday'] 2581464306688
['monday', 'thursday', 'tuesday', 'sunday', 'firday', 'sunday'] 2581464306816
['monday', 'friday', 'tuesday', 'sunday', 'firday', 'sunday'] 2581464306688

In [234]:
list1=["monday","thursday","tuesday","sunday",'firday','sunday']
print(all(list1)) # like and operation 
print(any(list1)) # like or operation
list2=["monday",False,"tuesday","sunday",'firday','sunday']
print(all(list2))
print(any(list2))

True
True
False
True

In [236]:
def myfun(mylist):
    mylist[3]='wednesday'
list1=["monday","thursday","tuesday","sunday",'firday','sunday']
print(list1)
myfun(list1)
print(list1)

['monday', 'thursday', 'tuesday', 'sunday', 'firday', 'sunday']
['monday', 'thursday', 'tuesday', 'wednesday', 'firday', 'sunday']

# Dealing with the Tuple Processing

Tuple is a collection of data items of same or diffrent datatype enclosed with first bracket . Tuples items are immutable as INSERT,DELETE and UPDATE operations can not be carried out on them

In [243]:
tuple1=(100,500,400,300)
print(tuple1,max(tuple1),min(tuple1),sum(tuple1),sum(tuple1)/len(tuple1))

(100, 500, 400, 300) 500 100 1300 325.0

In [245]:
tuple1=("monday","thursday","tuesday","sunday",'firday','sunday')
print(tuple1,max(tuple1),min(tuple1))

('monday', 'thursday', 'tuesday', 'sunday', 'firday', 'sunday') tuesday firday

In [247]:
# tuple indexing and slicing -> same as list

In [249]:
tuple1=("monday","thursday","tuesday","sunday",'firday','sunday')
print(tuple1[1],tuple1[-2])
print(tuple1[2][2:5],tuple1[-2][-6:-3])

thursday firday
esd fir

In [251]:
tuple1=("monday","thursday","tuesday","sunday",'firday','sunday')
del tuple1
print(tuple1)

NameError: name 'tuple1' is not defined

In [261]:
tuple1=("monday","thursday","tuesday","sunday",'firday','sunday')
tuple2=("wednesday",'saturday')
res=tuple1+tuple2 # concatenation
print(res)
res2=(tuple1,tuple2) # tuple of tuple
print(res2)
print(tuple1.count('sunday'))
print(tuple1.index('sunday'))

('monday', 'thursday', 'tuesday', 'sunday', 'firday', 'sunday', 'wednesday', 'saturday')
(('monday', 'thursday', 'tuesday', 'sunday', 'firday', 'sunday'), ('wednesday', 'saturday'))
2
3

In [273]:
tuple1=("monday","thursday","tuesday","sunday",'firday','sunday')
# tupel1[2]='saturday' # errore cant modefied
# how to modefied
list1=list(tuple1)
print(list1)
list1[2]='saturday'
print(list1)
tuple1=tuple(list1)
print(tuple1)

['monday', 'thursday', 'tuesday', 'sunday', 'firday', 'sunday']
['monday', 'thursday', 'saturday', 'sunday', 'firday', 'sunday']
('monday', 'thursday', 'saturday', 'sunday', 'firday', 'sunday')

# Dealing with the Dictionary Processing

it is a collection of key-value pairs where key should be always immutable type value may be immutable or mutable types . dictionary items are enclosed with in second brackets ({}) . dictionary items are mutable as INSERT,DELETE and UPDATE operation can be caried out on them

In [280]:
dict1={"mango":"20","lichi":"10","guava":"100","watermalone":"30"}
print(dict1.keys())
print(dict1.values())
print(dict1.items()) # outcome is in the list of tuples

dict_keys(['mango', 'lichi', 'guava', 'watermalone'])
dict_values(['20', '10', '100', '30'])
dict_items([('mango', '20'), ('lichi', '10'), ('guava', '100'), ('watermalone', '30')])

In [ ]:
# get

In [282]:
dict1={"mango":"20","lichi":"10","guava":"100","watermalone":"30"}
print(dict1,len(dict1))
print(dict1.get("mango"))
print(dict1.get("coco"))
print(dict1.get("coconut","coconut not found"))
print(dict1["mango"])
print(dict1["orange"])

{'mango': '20', 'lichi': '10', 'guava': '100', 'watermalone': '30'} 4
20
None
coconut not found
20

KeyError: 'orange'

In [284]:
dict1={"mango":"20","lichi":"10","guava":"100","watermalone":"30"}
dict1["lichi"]="60" # update
print(dict1,len(dict1))
dict1["apple"]="60" # insert
print(dict1,len(dict1))

{'mango': '20', 'lichi': '60', 'guava': '100', 'watermalone': '30'} 4
{'mango': '20', 'lichi': '60', 'guava': '100', 'watermalone': '30', 'apple': '60'} 5

In [286]:
dict1={"mango":"20","lichi":"10","guava":"100","watermalone":"30"}
dict1.clear()
print(dict1,len(dict1))

{} 0

In [288]:
dict1={"mango":"20","lichi":"10","guava":"100","watermalone":"30"}
del dict1
print(dict1,len(dict1))

NameError: name 'dict1' is not defined

In [290]:
dict1={"mango":"20","lichi":"10","guava":"100","watermalone":"30"}
dict1.pop("lichi")
print(dict1,len(dict1))
dict1.pop("santra")
print(dict1,len(dict1))

{'mango': '20', 'guava': '100', 'watermalone': '30'} 3

KeyError: 'santra'

In [292]:
dict1={"mango":"20","lichi":"10","guava":"100","watermalone":"30"}
dict2={"ffec":"20","defrr":"10","sanrtr":"100","watermalone":"40"}
dict1.update(dict2)
print(dict1,len(dict1), id(dict1))
print(dict2,len(dict2), id(dict1))

{'mango': '20', 'lichi': '10', 'guava': '100', 'watermalone': '40', 'ffec': '20', 'defrr': '10', 'sanrtr': '100'} 7 2581465061888
{'ffec': '20', 'defrr': '10', 'sanrtr': '100', 'watermalone': '40'} 4 2581465061888

In [294]:
dict1={"mango":"20","lichi":"10","guava":"100","watermalone":"30"}
print(dict1,len(dict1), id(dict1))
dict1.popitem()
print(dict1,len(dict1), id(dict1))

{'mango': '20', 'lichi': '10', 'guava': '100', 'watermalone': '30'} 4 2581465059392
{'mango': '20', 'lichi': '10', 'guava': '100'} 3 2581465059392

In [303]:
dict1={"mango","lichi","guava","watermalone"}
dict2={"20","10","100","40"}

res=zip(dict1,dict2)
print(res,type(res))

res1=dict(zip(dict1,dict2))
print(res1,type(res1))

res2=list(zip(dict1,dict2))
print(res2,type(res1))

<zip object at 0x000002590B4E5140> <class 'zip'>
{'lichi': '20', 'guava': '100', 'mango': '10', 'watermalone': '40'} <class 'dict'>
[('lichi', '20'), ('guava', '100'), ('mango', '10'), ('watermalone', '40')] <class 'dict'>

In [307]:
mykey=['passenger-1','passenger-2','passenger-3','passenger-4']
flight='indigo'
dict1=dict.fromkeys(mykey,flight)
print(dict1)

{'passenger-1': 'indigo', 'passenger-2': 'indigo', 'passenger-3': 'indigo', 'passenger-4': 'indigo'}

In [315]:
dict1={'mango':'red','orange':'orange','guava':'green','pineapple':'yellow'}
print(dict1)

dict1.setdefault('mango','green')
print(dict1)

dict1.setdefault('apple','red')
print(dict1)

dict1.setdefault('pineapple','light yellow')
print(dict1)

{'mango': 'red', 'orange': 'orange', 'guava': 'green', 'pineapple': 'yellow'}
{'mango': 'red', 'orange': 'orange', 'guava': 'green', 'pineapple': 'yellow'}
{'mango': 'red', 'orange': 'orange', 'guava': 'green', 'pineapple': 'yellow', 'apple': 'red'}
{'mango': 'red', 'orange': 'orange', 'guava': 'green', 'pineapple': 'yellow', 'apple': 'red'}

# Dealing with the set Processing

enclosed with 2nd bracket({}), mutable as insert,delete,update

In [324]:
language=set(['c++','java','kotlin','c','perl','js','python']) # froming set from list
print(language,len(language),type(language))

language1=set(('c++','java','kotlin','c','perl','js','python')) # froming set from tuple
print(language1,len(language1),type(language1))

language2={'c++','java','kotlin','c','perl','js','python'} # froming set
print(language2,len(language2),type(language2))

{'python', 'java', 'kotlin', 'c++', 'perl', 'c', 'js'} 7 <class 'set'>
{'python', 'java', 'kotlin', 'c++', 'perl', 'c', 'js'} 7 <class 'set'>
{'python', 'c++', 'perl', 'c', 'java', 'js', 'kotlin'} 7 <class 'set'>

set operation

In [358]:
lang={'c++','kotlin','perl','python'}
snakes={'cobra','viper','python'}

res=lang.union(snakes)   # union
print(res)

res2=lang | snakes  # union using pi
print(res2)

res3=lang.intersection(snakes) # intersection
print(res3)

res4=lang & snakes # intersection using and
print(res4)

lang.intersection_update(snakes)
print(lang) # intersection
print(snakes)

{'c++', 'python', 'perl', 'cobra', 'viper', 'kotlin'}
{'c++', 'python', 'perl', 'cobra', 'viper', 'kotlin'}
{'python'}
{'python'}
{'python'}
{'python', 'cobra', 'viper'}

In [370]:
lang={'c++','kotlin','perl','python'}
snakes={'cobra','viper','python'}

res=lang.difference(snakes)  
print(res)

res2=lang-snakes
print(res2)

lang.difference_update(snakes)  
print(lang)

{'c++', 'perl', 'kotlin'}
{'c++', 'perl', 'kotlin'}
{'c++', 'perl', 'kotlin'}

In [368]:
lang={'c++','kotlin','perl','python'}
snakes={'cobra','viper','python'}

res=lang.symmetric_difference(snakes)  # symatric difference
print(res)

res2=lang ^ snakes  # symatric difference
print(res2)

lang.symmetric_difference_update(snakes)  # symatric difference
print(lang)

{'kotlin', 'perl', 'c++', 'cobra', 'viper'}
{'kotlin', 'perl', 'c++', 'cobra', 'viper'}
{'kotlin', 'c++', 'perl', 'cobra', 'viper'}

In [378]:
set1={100,200,300,400,500}
set2={100,300,400}
set3={600,700,800,900}
print(set1.issubset(set2),set2.issubset(set1),set1.issuperset(set2),set2.issuperset(set1))
print(set1.isdisjoint(set2),set1.isdisjoint(set3))

False True True False
False True

In [17]:
lang={'c++','kotlin','perl','python'}
print(lang,type(lang),id(lang))
lang.add("c")
print(lang,id(lang))
lang.add("c") # c comes only one times because it is set
print(lang,id(lang))

{'kotlin', 'python', 'perl', 'c++'} <class 'set'> 2843203343456
{'perl', 'c', 'c++', 'kotlin', 'python'} 2843203343456
{'perl', 'c', 'c++', 'kotlin', 'python'} 2843203343456

In [21]:
lang2={'c+','kot','perl','hon'}
lang3={'c++','ko','perl','python'}
lang2.update(lang3)
print(lang2)
print(lang3)

{'c+', 'perl', 'ko', 'python', 'c++', 'kot', 'hon'}
{'python', 'perl', 'ko', 'c++'}

In [31]:
lang={'kotlin','perl','python','c++'} # ***
print(lang)
lang.pop()
print(lang)

{'kotlin', 'python', 'perl', 'c++'}
{'python', 'perl', 'c++'}

In [37]:
lang={'kotlin','perl','python','c++','c'}
print(lang)
lang.remove('c')
print(lang)
lang.remove('c')
print(lang)

{'c', 'c++', 'kotlin', 'python', 'perl'}
{'c++', 'kotlin', 'python', 'perl'}

KeyError: 'c'

In [43]:
lang={'kotlin','perl','python','c++','c'}
print(lang)
lang.discard('c')
print(lang)
lang.discard('c')  # same ele ko delete karne se error nahi ayega. print same element. 
print(lang)

{'c', 'c++', 'kotlin', 'python', 'perl'}
{'c++', 'kotlin', 'python', 'perl'}
{'c++', 'kotlin', 'python', 'perl'}

In [45]:
lang={'kotlin','perl','python','c++','c'}
print(lang)
lang.clear()  # for truncting the set
print(lang)

{'c', 'c++', 'kotlin', 'python', 'perl'}
set()

In [55]:
lang={'kotlin','perl','python','c++','c'}
print(lang)
del lang
print(lang)

{'c', 'c++', 'kotlin', 'python', 'perl'}

NameError: name 'lang' is not defined

# Dealeing with frozenset

it is set in a collection of unique and unordered value of same of diffrent data type enclosed with secondbracket.it is immutable as 
insert,delete,update operation can not be caried out on them

In [ ]:
# union

In [88]:
lang=frozenset(['kotlin','perl','python','c++','c'])
lang2=frozenset(['kot','pe','pyt','c++','c'])

res=lang.union(lang2)
print(res)

res1=lang | lang2
print(res1)

frozenset({'pyt', 'pe', 'perl', 'c', 'c++', 'kotlin', 'python', 'kot'})
frozenset({'pyt', 'pe', 'perl', 'c', 'c++', 'kotlin', 'python', 'kot'})

In [90]:
# intersection

In [92]:
lang=frozenset(['kotlin','perl','python','c++','c'])
lang2=frozenset(['kot','pe','pyt','c++','c'])

res=lang.intersection(lang2)
print(res)

res1=lang & lang2
print(res1)

frozenset({'c', 'c++'})
frozenset({'c', 'c++'})

In [94]:
# set diffrence 
lang=frozenset(['kotlin','perl','python','c++','c'])
lang2=frozenset(['kot','pe','pyt','c++','c'])

res=lang.difference(lang2)
print(res)

res2=lang-lang2
print(res2)

frozenset({'kotlin', 'python', 'perl'})
frozenset({'kotlin', 'python', 'perl'})

In [96]:
# set symmetric diffrence 
lang=frozenset(['kotlin','perl','python','c++','c'])
lang2=frozenset(['kot','pe','pyt','c++','c'])

res=lang.symmetric_difference(lang2)
print(res)

res2=lang ^ lang2
print(res2)

frozenset({'pyt', 'python', 'kotlin', 'pe', 'perl', 'kot'})
frozenset({'pyt', 'python', 'kotlin', 'pe', 'perl', 'kot'})

In [109]:
frozenset1=frozenset([100,200,300,400,500])
frozenset2=frozenset([100,300,400])
frozenset3=frozenset([600,700,800,900])
print(frozenset1.issubset(frozenset2),frozenset2.issubset(frozenset1),frozenset1.issuperset(frozenset2))
print(frozenset1.isdisjoint(frozenset2),frozenset1.isdisjoint(frozenset3))

False True True
False True

In [128]:
import calendar
month=calendar.month(2025,11)
print(month)

   November 2025
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30

In [130]:
# DateTime

In [3]:
import datetime
date=datetime.datetime.now()
print(date)
print(date.year)
print(date.month)
print(date.day)
print(date.hour)
print(date.minute)
print(date.second)

2025-03-29 11:20:27.901599
2025
3
29
11
20
27

In [20]:
date=datetime.datetime(2025,2,2)
print(date)
print(date.strftime("%w"))
print(date.strftime("%A"))

2025-02-02 00:00:00
0
Sunday

# List compreshension

In [92]:
n=[20,21,22]
n2=[]
for i in n:
    #print(i*2)       # above is not in list format
    n2.append(i*2)
print(n2)

double=[i*2 for i in n]
print(double)

square=[i**2 for i in n]
print(square)

[40, 42, 44]
[40, 42, 44]
[400, 441, 484]

In [94]:
even=[i for i in range(1,11) if i%2==0]
print(even)

[2, 4, 6, 8, 10]

In [96]:
matrix=[[j for j in range(3)] for i in range(3)]
print(matrix)

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [98]:
import pprint
pp=pprint.PrettyPrinter(width=20,compact=True)
pp.pprint(matrix)

[[0, 1, 2],
 [0, 1, 2],
 [0, 1, 2]]

# list compreshension VS for loop

In [107]:
lst=[]
for char in 'TIU is the best University':
    lst.append(char)
print(lst)

lst1=[char for char in 'TIU is the best University']
print(lst1)

['T', 'I', 'U', ' ', 'i', 's', ' ', 't', 'h', 'e', ' ', 'b', 'e', 's', 't', ' ', 'U', 'n', 'i', 'v', 'e', 'r', 's', 'i', 't', 'y']
['T', 'I', 'U', ' ', 'i', 's', ' ', 't', 'h', 'e', ' ', 'b', 'e', 's', 't', ' ', 'U', 'n', 'i', 'v', 'e', 'r', 's', 'i', 't', 'y']

using lamda fn 
[1,2,3,4,5]->[10,20,30,40,50]

In [111]:
ans=list(map(lambda x:x*10, [x for x in range(1,6)]))
print(ans)

[10, 20, 30, 40, 50]