### PANDAS introduction

it is defined as an open-source library that provide data manipulation in python 
use in data cleaning and preparing data 
panda is built on top of the numpy package menas numpy is required for operating the pandas

#### Data structures

2 diffrent type of data structure

1. series:it is 1-D labeled array capable of holding any data typee (integer,string floating,python object.etc)the axis are collectively refered to as the index

2. Data Farame: it is 2-D labeled data structure withe columns of potentially diffrent types. you can thinkof it like a spreadsheet or SQL

##### Series data Structure

pandas.Series(data,index,dtype,copy)
data-> like ndarray,list,constant,dict..etc
index->unique and hashable for easy identification
copy->copy data default is False
stype->it is for data type
A series

In [11]:
import numpy as np
import pandas as pd

In [13]:
# create empty series
s=pd.Series(dtype=pd.StringDtype())
print(s,type(s))

Series([], dtype: string) <class 'pandas.core.series.Series'>

In [19]:
# create a series from ndarray
data1=np.array(['chandu','ritu','pyush','rajkumar','shanyan','delcruses'])
print(data1)
s=pd.Series(data=data1)
print(s,type(s))

['chandu' 'ritu' 'pyush' 'rajkumar' 'shanyan' 'delcruses']
0       chandu
1         ritu
2        pyush
3     rajkumar
4      shanyan
5    delcruses
dtype: object <class 'pandas.core.series.Series'>

In [33]:
data1=np.array(['chandu','ritu','pyush','rajkumar','shanyan','delcruses'])
print(data1)
s=pd.Series(data=data1,index=[133,123,324,345,35,789])
print(s,type(s))
print(s[324])

['chandu' 'ritu' 'pyush' 'rajkumar' 'shanyan' 'delcruses']
133       chandu
123         ritu
324        pyush
345     rajkumar
35       shanyan
789    delcruses
dtype: object <class 'pandas.core.series.Series'>
pyush

In [37]:
data={'apple':320,'mango':240,'nimbu':245,'banana':60,'kharbuza':120}
s=pd.Series(data=data)
print(s,type(s))

apple       320
mango       240
nimbu       245
banana       60
kharbuza    120
dtype: int64 <class 'pandas.core.series.Series'>

In [41]:
data={'apple':320,'mango':240,'nimbu':245,'banana':60,'kharbuza':120}
s=pd.Series(data=data,index=['apple','nimbu','mango','banana','guava','mango'])
print(s,type(s))

apple     320.0
nimbu     245.0
mango     240.0
banana     60.0
guava       NaN
mango     240.0
dtype: float64 <class 'pandas.core.series.Series'>

In [55]:
# create a series from scalar
s=pd.Series('water',index=[0,1,3,4,6]) # water feed to seat no
print(s,type(s))

s1=pd.Series(4,index=[0,1,3,4,6])
print(s1,type(s))

0    water
1    water
3    water
4    water
6    water
dtype: object <class 'pandas.core.series.Series'>
0    4
1    4
3    4
4    4
6    4
dtype: int64 <class 'pandas.core.series.Series'>

In [69]:
# crate a series from list
s=pd.Series([111,222,333,444,555])
print(s,type(s))

s=pd.Series([111,222,333,444,555],index=['arjit','rahul','priyank','devopriya','khusbo']) #ticket no to passanger 
print(s,type(s))

0    111
1    222
2    333
3    444
4    555
dtype: int64 <class 'pandas.core.series.Series'>
arjit        111
rahul        222
priyank      333
devopriya    444
khusbo       555
dtype: int64 <class 'pandas.core.series.Series'>

In [75]:
print(s[:3])
print(s[-3:])
print(s[:-3])

arjit      111
rahul      222
priyank    333
dtype: int64
priyank      333
devopriya    444
khusbo       555
dtype: int64
arjit    111
rahul    222
dtype: int64

In [81]:
s_unique=pd.Series([1,2,3,4,5])
print(s_unique.is_unique)

s_unique=pd.Series([1,2,2,4,5])
print(s_unique.is_unique)

True
False

In [91]:
# concatenation
s1=pd.Series([1,2,3])
s2=pd.Series([4,5,6])

# concatenating alog row (stacking vertically)
res=pd.concat([s1,s2]) # index is not changing it is fixed
print(res)

res=pd.concat([s1,s2]).reset_index(drop=True) # index is changinig
print(res)

# concatenating alog rcolumns (stacking horizentally)
res=pd.concat([s1,s2],axis=1) # index is not changing it is fixed
print(res)

0    1
1    2
2    3
0    4
1    5
2    6
dtype: int64
0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
   0  1
0  1  4
1  2  5
2  3  6