In [1]:
iter(20)   # check whether the data set is iterable or not

TypeError: 'int' object is not iterable

In [3]:
iter([1,2,3,4])

In [7]:
iter((1,2,3,4))

In [9]:
iter({1,2,3,4})

In [11]:
iter("String")

In [19]:
l=iter([1,2,3,4])
print(next(l))
print(next(l))
print(next(l))
print(next(l))

1
2
3
4

In [21]:
print(next(l))

StopIteration:

In [23]:
iter(True)

TypeError: 'bool' object is not iterable

In [25]:
iter({"key":"value"})

In [29]:
d=iter({"key":"value","key2":"value2","key3":"value3"})
print(next(d))
print(next(d))

key
key2

In [31]:
range(0,5)

range(0, 5)

In [33]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [39]:
i=iter(range(0,5))
print(next(i))
print(next(i))
print(next(i))
print(next(i))

0
1
2
3

In [47]:
print(range(0,4))   # both is diffrent function
print(len("sudh"))

range(0, 4)
4

In [58]:
# range and this funtion are same
def count_fun(n):
    i=1
    while i<=n:
        yield i
        i=i+1
print(count_fun(9))
for i in count_fun(9):
    print(i)

<generator object count_fun at 0x00000178BD4DBAC0>
1
2
3
4
5
6
7
8
9

In [1]:
x=input("enter 3 word message")
w1,w2,w3=x.split()
print(w1,w2,w3)

enter 3 word message rahul arjun deepak

rahul arjun deepak

In [5]:
a,b=input("enter 2 number").split()
c=int(a)+int(b)
print(c)

enter 2 number 2 3

5

In [7]:
x=input("enter two number")
sum=int(x.split()[0])+int(x.split()[1])
print(sum)

enter two number 123 321

444

In [19]:
s1="A B C D E F"
print(s1.split(' ',4)) # Splits at most 4 times
print(s1.split(' ',3))

['A', 'B', 'C', 'D', 'E F']
['A', 'B', 'C', 'D E F']

In [23]:
# Taking multiple inputs in a single line
a, b, c = map(int, input("Enter three numbers: ").split())
print(a, b, c)

Enter three numbers:  10 20 30

10 20 30

In [11]:
n = int(input("Enter number of inputs: "))
values = []
for _ in range(n):
    values.append(int(input("Enter a number: ")))
print(values)

Enter number of inputs:  4
Enter a number:  1
Enter a number:  2
Enter a number:  4
Enter a number:  5

[1, 2, 4, 5]

In [15]:
numbers = [int(x) for x in input("Enter numbers: ").split()]
print(numbers)

Enter numbers:  10 20 30 40

[10, 20, 30, 40]

In [17]:
tup = tuple(map(int, input("Enter values: ").split()))
print(tup)

Enter values:  10 20 30 40

(10, 20, 30, 40)

In [25]:
for i in range(1, 6):
    if i == 4:
        print("Breaking the loop at", i)
        break  # Stops the loop when i == 4
    print(i)

1
2
3
Breaking the loop at 4

In [27]:
for i in range(1, 6):
    if i == 3:
        print("Skipping", i)
        continue  # Skips printing 3
    print(i)

1
2
Skipping 3
4
5

In [29]:
while True:
    num = int(input("Enter a number (0 to exit): "))
    if num == 0:
        print("Exiting loop...")
        break
    print("You entered:", num)

Enter a number (0 to exit):  2

You entered: 2

Enter a number (0 to exit):  3

You entered: 3

Enter a number (0 to exit):  4

You entered: 4

Enter a number (0 to exit):  0

Exiting loop...

add odd number from 1 to 10

In [31]:
total = 0
for i in range(1, 11, 2):  # Start at 1, go up to 10, step by 2 (odd numbers)
    total += i
print("Sum of odd numbers from 1 to 10:", total)

Sum of odd numbers from 1 to 10: 25

In [33]:
n = 5  # Number of odd numbers from 1 to 10
total = n ** 2
print("Sum of odd numbers from 1 to 10:", total)

Sum of odd numbers from 1 to 10: 25

In [35]:
for i in range(5):
    if i == 3:
        pass  # Placeholder to avoid syntax error
    print(i)

0
1
2
3
4

In [41]:
x = 10
if x > 5:
    pass  # Placeholder for future logic
else:
    print("x is small")
print("executing further logic")

executing further logic

# FUNCTION

In [44]:
print("Hello, World!")  
print(len([1, 2, 3]))
print(type(100))

Hello, World!
3
<class 'int'>

In [46]:
def greet(name):
    return f"Hello, {name}!"

print(greet("Alice"))

Hello, Alice!

In [48]:
def add(a, b):
    return a + b

result = add(5, 10)
print(result)

15

In [50]:
def say_hello():
    print("Hello, World!")

say_hello()

Hello, World!

In [27]:
def fullname(a,b):
    c=a+b
    return
w=fullname('pw','skills')
print(w,type(w))

None <class 'NoneType'>

In [52]:
def greet(name="Guest"):
    print(f"Hello, {name}!")

greet()
greet("Alice")

Hello, Guest!
Hello, Alice!

In [54]:
def person(name, age):
    print(f"Name: {name}, Age: {age}")

person(age=25, name="John")

Name: John, Age: 25

*args: Accepts multiple positional arguments as a tuple.
**kwargs: Accepts multiple keyword arguments as a dictionary.

In [9]:
def add_numbers(*args):
    return sum(args)

print(add_numbers(1, 2, 3, 4))

10

In [11]:
def display_info(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

display_info(name="Alice", age=30, city="New York")

name: Alice
age: 30
city: New York

In [13]:
square = lambda x: x * x
print(square(5))

25

In [15]:
add = lambda a, b: a + b
print(add(3, 4))

7

In [17]:
def factorial(n):
    if n == 0:
        return 1
    return n * factorial(n - 1)

print(factorial(5))  # Output: 120

120

In [19]:
def apply_function(func, value):
    return func(value)

result = apply_function(lambda x: x * x, 4)
print(result)

16

In [21]:
def outer_function():
    def inner_function():
        print("Inner function called")
    inner_function()

outer_function()

Inner function called

In [23]:
def my_generator():
    for i in range(3):
        yield i

gen = my_generator()
print(next(gen))  # Output: 0
print(next(gen))  # Output: 1
print(next(gen))  # Output: 2

0
1
2

In [29]:
def add(a, b):
    return a + b

def subtract(a, b):
    return a - b

def multiply(a, b):
    return a * b

def divide(a, b):
    if b == 0:
        return "Error! Division by zero."
    return a / b

def calculator():
    print("Simple Calculator")
    print("Operations: +, -, *, /")
    
    num1 = float(input("Enter first number: "))
    operator = input("Enter operation (+, -, *, /): ")
    num2 = float(input("Enter second number: "))

    if operator == "+":
        result = add(num1, num2)
    elif operator == "-":
        result = subtract(num1, num2)
    elif operator == "*":
        result = multiply(num1, num2)
    elif operator == "/":
        result = divide(num1, num2)
    else:
        result = "Invalid operation!"

    print("Result:", result)

calculator()

Simple Calculator
Operations: +, -, *, /

Enter first number:  12
Enter operation (+, -, *, /):  +
Enter second number:  34

Result: 46.0

re is Python’s regular expressions module. It allows you to work with text by searching, matching, and manipulating patterns.

In [33]:
import re

In [35]:
text = "Hello World"
match = re.match(r"Hello", text)
if match:
    print("Match found!")
else:
    print("No match")

Match found!

In [37]:
# re.search() - Find a pattern anywhere in the string
text = "I have an email: example@gmail.com"
search = re.search(r"\w+@\w+\.\w+", text)  # Matches an email pattern
if search:
    print("Found:", search.group())

Found: example@gmail.com

In [39]:
# re.findall() - Find all matches in a string
text = "There are 2 cats, 3 dogs, and 4 birds."
numbers = re.findall(r"\d+", text)  # Find all numbers
print(numbers)

['2', '3', '4']

In [41]:
# re.sub() - Replace text using a pattern
text = "I love Python 2 and Python 3."
new_text = re.sub(r"Python \d", "Python", text)  # Replace Python versions
print(new_text)

I love Python and Python.

A valid password should meet certain criteria. 
✅ At least 8 characters long
✅ Contains at least one uppercase letter
✅ Contains at least one lowercase letter
✅ Contains at least one digit
✅ Contains at least one special character (@, #, $, etc.)

In [45]:
import re
def is_valid_password(password):
    # Minimum length of 8 characters
    if len(password) < 8:
        return "Password must be at least 8 characters long."

    # At least one uppercase letter
    if not re.search(r"[A-Z]", password):
        return "Password must contain at least one uppercase letter."

    # At least one lowercase letter
    if not re.search(r"[a-z]", password):
        return "Password must contain at least one lowercase letter."

    # At least one digit
    if not re.search(r"[0-9]", password):
        return "Password must contain at least one digit."

    # At least one special character
    if not re.search(r"[@$!%*?&]", password):
        return "Password must contain at least one special character (@, $, !, %, *, ?, &)."

    return "Password is valid!"

# Example Usage
password = input("Enter a password: ")
print(is_valid_password(password))

Enter a password:  Strong@123

Password is valid!

In [49]:
x = 10  # Global variable
def my_function():
    y = 5  # Local variable
    print("Inside function, y:", y)  
    print("Inside function, x:", x)  # Accessing global variable

my_function()
print("Outside function, x:", x)# Global variable is accessible
# print(y)  # Error! y is local and not accessible outside

Inside function, y: 5
Inside function, x: 10
Outside function, x: 10

In [51]:
count = 0  # Global variable

def increment():
    global count  # Use the global variable
    count += 1  # Modify global variable
    print("Inside function, count:", count)

increment()
print("Outside function, count:", count)

Inside function, count: 1
Outside function, count: 1

In [55]:
x = 50  # Global variable
def my_function():
    x = 20  # Local variable (different from the global one)
    print("Inside function, x:", x, id(x))  # Uses local x

my_function()
print("Outside function, x:", x , id(x))  # Uses global x

Inside function, x: 20 140723874114584
Outside function, x: 50 140723874115544

In [57]:
def outer():
    a = 10  # Enclosing variable
    def inner():
        nonlocal a  # Refers to 'a' from outer()
        a += 5
        print("Inside inner function, a:", a)
    inner()
    print("Inside outer function, a:", a)
outer()

Inside inner function, a: 15
Inside outer function, a: 15

# Lambda Function

In [60]:
square = lambda x: x * x
print(square(5))  # Output: 25

25

In [62]:
add = lambda a, b: a + b
print(add(3, 4))  # Output: 7

7

In [64]:
numbers = [1, 2, 3, 4, 5]
squared = list(map(lambda x: x**2, numbers))
print(squared)

[1, 4, 9, 16, 25]

In [66]:
power = lambda x, y=2: x ** y
print(power(3))   # Output: 9 (3^2)
print(power(3, 3)) # Output: 27 (3^3)

9
27

In [68]:
max_value = lambda a, b: a if a > b else b
print(max_value(10, 20))  # Output: 20

20

In [70]:
operations = {
    "add": lambda x, y: x + y,
    "sub": lambda x, y: x - y,
    "mul": lambda x, y: x * y,
    "div": lambda x, y: x / y if y != 0 else "Cannot divide by zero"
}

print(operations["add"](10, 5))  # Output: 15
print(operations["div"](10, 2))  # Output: 5.0

15
5.0

In [72]:
add_five = lambda x: x + 5
multiply_two = lambda x: x * 2
composed_function = lambda x: multiply_two(add_five(x))

print(composed_function(5))  # Output: (5+5) * 2 = 20

20

In [76]:
x=lambda n:"true" if n%2==0 else "false"
print(x(3))

false

In [78]:
students = [("Alice", 25), ("Bob", 20), ("Charlie", 23)]
sorted_students = sorted(students, key=lambda x: x[1])
print(sorted_students)

[('Bob', 20), ('Charlie', 23), ('Alice', 25)]

In [1]:
square=lambda a,b:(a**2,b**2)
print(square(2,5))

(4, 25)

In [5]:
lang=['python','c++','javascript']
enumerate_prime=enumerate(lang,2) # index as a key start from 2
print(list(enumerate_prime))

enumerate_prime2=enumerate(lang)
print(list(enumerate_prime2))

[(2, 'python'), (3, 'c++'), (4, 'javascript')]
[(0, 'python'), (1, 'c++'), (2, 'javascript')]

# list comprehension

[expression for item in iterable if condition]

expression → The operation to perform on each item (e.g., x**2, x.upper()).
for item in iterable → Iterates through each item in the iterable.
if condition (optional) → Filters the items based on a condition.

In [12]:
squares = [x**2 for x in range(5)]
print(squares)

[0, 1, 4, 9, 16]

In [14]:
evens = [x for x in range(10) if x % 2 == 0]
print(evens)

[0, 2, 4, 6, 8]

In [16]:
labels = ["Even" if x % 2 == 0 else "Odd" for x in range(5)]
print(labels)

['Even', 'Odd', 'Even', 'Odd', 'Even']

In [18]:
pairs = [(x, y) for x in range(2) for y in range(3)]
print(pairs)

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2)]

In [20]:
words = ["apple", "banana", "cherry", "date"]
short_words = [word for word in words if len(word) <= 5]
print(short_words)

['apple', 'date']

In [22]:
text = "hello world"
no_vowels = ''.join([char for char in text if char not in "aeiou"])
print(no_vowels)

hll wrld

In [24]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flattened = [num for row in matrix for num in row]
print(flattened)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
str_numbers = ["1", "2", "3", "4"]
int_numbers = [int(num) for num in str_numbers]
print(int_numbers)

[1, 2, 3, 4]

In [28]:
def double(x):
    return x * 2
doubled_numbers = [double(x) for x in range(5)]
print(doubled_numbers)

[0, 2, 4, 6, 8]

In [30]:
l=[1,2,3,4,5,6,7,8,9]
d=[x for x in l if x>4 if x%2==0]
print(d)

[6, 8]

In [32]:
l=[1,2,3,4,5,6,7,8,9]
d=[x if x>4 else 'lessthan 4' for x in l]
print(d)

['lessthan 4', 'lessthan 4', 'lessthan 4', 'lessthan 4', 5, 6, 7, 8, 9]

In [36]:
l=[1,2,3,4,5,6,7,8,9,10]
d=['two' if x%2==0 else 'three' if x%3==0 else 'not a &' for x in l]
print(d)

['not a &', 'two', 'three', 'two', 'not a &', 'two', 'not a &', 'two', 'three', 'two']