In [10]:
ls

 Volume in drive D is New Volume
 Volume Serial Number is 5447-46BD

 Directory of D:\python training

02-04-2025  08:55    <DIR>          .
02-04-2025  08:55    <DIR>          .ipynb_checkpoints
29-03-2025  19:05           116,237 class1.ipynb
31-03-2025  22:51            39,940 contol-flow.ipynb
02-04-2025  08:54            42,745 function.ipynb
29-03-2025  19:05               786 ifelse.py
29-03-2025  19:05             3,164 list.py
29-03-2025  19:05               126 main.py
30-03-2025  13:17            22,780 operator.ipynb
30-03-2025  11:23            73,928 python-basic-data-type.ipynb
29-03-2025  20:03            33,570 PythonBasicVariable.ipynb
29-03-2025  19:05             6,698 README.MD
02-04-2025  08:55               207 test.txt
02-04-2025  08:55             4,546 Untitled.ipynb
              12 File(s)        344,727 bytes
               2 Dir(s)  83,264,425,984 bytes free

In [12]:
pwd

'D:\\python training'

In [13]:
# read the README.MD files
for i in open('test.txt'):
    print(i)

you want to read the file

you want to read the file



you want to read the file

you want to read the file

you want to read the fileyou want to read the file

you want to read the file

you want to read the file

In [16]:
for i in open('README.MD'):
    print(i)

UnicodeDecodeError: 'charmap' codec can't decode byte 0x9d in position 3523: character maps to <undefined>

In [18]:
def read_file(filename):
    with open(filename) as file:
        for i in file:
            yield i

print(read_file('text.txt'))

<generator object read_file at 0x00000234E893FC40>

In [22]:
for i in read_file('test.txt'):
    print(i)

you want to read the file

you want to read the file



you want to read the file

you want to read the file

you want to read the fileyou want to read the file

you want to read the file

you want to read the file

# map

In [4]:
def square(num):
    return num ** 2

numbers = [1, 2, 3, 4, 5]
squared_numbers = list(map(square, numbers))
print(squared_numbers)

[1, 4, 9, 16, 25]

In [6]:
numbers = [1, 2, 3, 4, 5]
squared_numbers = list(map(lambda x: x ** 2, numbers))
print(squared_numbers)

[1, 4, 9, 16, 25]

In [8]:
nums1 = [1, 2, 3]
nums2 = [4, 5, 6]

sum_nums = list(map(lambda x, y: x + y, nums1, nums2))
print(sum_nums)

[5, 7, 9]

In [10]:
words = ["hello", "world", "python"]
uppercase_words = list(map(str.upper, words))
print(uppercase_words)

['HELLO', 'WORLD', 'PYTHON']

In [12]:
words = ["  hello ", " world  ", " python "]
clean_words = list(map(str.strip, words))
print(clean_words)

['hello', 'world', 'python']

In [14]:
num_strings = ["1", "2", "3", "4"]
numbers = list(map(int, num_strings))
print(numbers)

[1, 2, 3, 4]

In [16]:
students = {"Alice": 85, "Bob": 90, "Charlie": 78}
names = ["Alice", "Charlie", "David"]
scores = list(map(students.get, names))
print(scores)

[85, 78, None]

In [18]:
data = [(1, 2), (3, 4), (5, 6)]
def add_tuple(t):
    return t[0] + t[1]
result = list(map(add_tuple, data))
print(result)

[3, 7, 11]

In [20]:
employees = [
    {"name": "Alice", "salary": 5000},
    {"name": "Bob", "salary": 6000},
    {"name": "Charlie", "salary": 7000}
]

def get_salary(emp):
    return emp["salary"]

salaries = list(map(get_salary, employees))
print(salaries)

[5000, 6000, 7000]

In [22]:
numbers = {1, 2, 3, 4, 5}
squared_numbers = set(map(lambda x: x ** 2, numbers))
print(squared_numbers)

{1, 4, 9, 16, 25}

In [24]:
numbers = (1, 2, 3, 4, 5)
squared_numbers = tuple(map(lambda x: x ** 2, numbers))
print(squared_numbers)

(1, 4, 9, 16, 25)

In [26]:
data = [1, 2, 3, 4, 5]
replace_map = {1: "one", 2: "two", 3: "three"}

updated_list = list(map(lambda x: replace_map.get(x, x), data))
print(updated_list)

['one', 'two', 'three', 4, 5]

In [32]:
data = [1, 2, 3, 4]
identity_mapping = list(map(None, data))
print(identity_mapping)

TypeError: 'NoneType' object is not callable

In [30]:
numbers = [0, 1, 2, 3, 4, 5]
boolean_values = list(map(bool, numbers))
print(boolean_values)

[False, True, True, True, True, True]

# reduce

In [35]:
from functools import reduce

reduce() starts with x = 1, y = 2 → (1 + 2) = 3
Then x = 3, y = 3 → (3 + 3) = 6
Then x = 6, y = 4 → (6 + 4) = 10
Finally, x = 10, y = 5 → (10 + 5) = 15

In [43]:
numbers = [1, 2, 3, 4, 5]
result = reduce(lambda x, y: x + y, numbers)
print(result)

15

In [45]:
numbers = [3, 7, 2, 8, 5]
max_value = reduce(lambda x, y: x if x > y else y, numbers)
print(max_value)  # Output: 8

8

In [47]:
numbers = [3, 7, 2, 8, 5]
min_value = reduce(lambda x, y: x if x < y else y, numbers)
print(min_value)  # Output: 2

2

In [49]:
import math
numbers = [24, 36, 48]
gcd_value = reduce(math.gcd, numbers)
print(gcd_value)

12

In [51]:
def lcm(x, y):
    return (x * y) // math.gcd(x, y)

numbers = [4, 5, 6]
lcm_value = reduce(lcm, numbers)
print(lcm_value)  # Output: 60

60

In [53]:
lists = [[1, 2], [3, 4], [5, 6]]
flattened = reduce(lambda x, y: x + y, lists)
print(flattened)  # Output: [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [55]:
data = [("a", 1), ("b", 2), ("c", 3)]
dictionary = reduce(lambda acc, pair: {**acc, pair[0]: pair[1]}, data, {})
print(dictionary)

{'a': 1, 'b': 2, 'c': 3}